.task {
    color: green;
}

body {
    background-image: url(back.png);
    background-attachment: fixed;
}

/*task1*/
#task1 {
    width: 500px;
    height: 500px;
    background-image: url(1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: cyan;
}

/*task2*/
#task2 {
    width: 500px;
    height: 500px;
    background-image: url(1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/*task2*/
#task3 {
    width: 600px;
    height: 600px;
    background-image: url(1.png);
    background-repeat: round;
    background-position: center center;
}