.task {
    color: green;
}

/*task1*/
#task1 h2:first-of-type {
    color: brown;
}

#task1 h1:last-of-type {
    color: rgb(190, 20, 196);
}

/*task2*/
#task2 p:nth-of-type(odd) {
    color: blue;
}

#task2 h2:nth-last-of-type(3) {
    color: rgb(21, 205, 46);
}

/*task2*/
.task3 {
    border: 1px solid black;
    margin-bottom: 10px;
    width: 400px;
}

h2:only-of-type {
    color: rgb(1, 121, 121);
}