.parent {
	padding: 20px;
	border: 1px solid black;
	text-align: justify;
	margin: 20px auto;
}

.child {
	height: 50px;
	width: 100px;
	border: 1px solid green;
	text-align: center;
	margin-left: 20px;
}

.fl1 {
	float: left;
}

.fl2 {
	float: right;
}

.clearfix {
	clear: both;
}