.task {
    color: green;
}

/*task1*/
#task1 {
    width: 200px;
    height: 200px;
    border: 1px solid green;
    border-radius: 10px 30px 50px 70px;
}

/*task2*/
#task2 {
    width: 200px;
    height: 200px;
    border: 1px solid green;
    border-radius: 10px 30px;
}

/*task3*/
#task3 {
    width: 200px;
    height: 200px;
    border: 1px solid green;
    border-radius: 10px 30px 20px;
}