#elem1 {
	width: 400px;
	text-align: justify;
	border: 1px solid yellow;
	padding: 20px;
	margin: 20px auto;
}

#img1 {
	float: left;
	margin-right: 10px;
}

#img2 {
	float: right;
	margin-top: 10px;
	margin-left: 10px;
}