h1 {
    font-family: Arial;
}

h2 {
    font-family: Georgia;
}

h3 {
    font-family: Verdana;
}

h4 {
    font-family: "Trebuchet MS";
}

h5 {
    font-family: "Arial Black";
}

h6 {
    font-family: "Comic Sans MS";
}

p {
    font-family: "Courier New";
}

li {
    font-family: Impact;
}